body {
    min-width: 200px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
input, textarea {
    width: 420px;
}
input#save {
    font-weight: bold; width: auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin: 0 0 0.8em 0;
  padding: 0 0 0.2em 0;
}
